.main{
    display:flex;
    margin:1rem;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.p_name{
    color:black; 
    font-weight:bold;
    font-size:.7rem;
    margin:0;
}
.p_price{
    color:lightgray;
    font-size:1.3rem;
    line-height:5px
}
.preview_img{
    width:90px;
    height:50px
}


.cart{ 
    width:250px;
    right:4vw;
    top:18.7vh;
    color:white;
    height:150px;
    border:2px solid lightgrey;
    overflow-y:scroll;
    position:absolute;
    background-color:white;
}
.removeItemBtn{
    width:100%;
    font-weight:bold;
    background-color:transparent;
    height:40px;
    border:2px solid black
}
.clearCartBtn{
    width:100%;
    margin-top:.5rem;
    font-weight:bold;
    background-color:transparent;
    height:40px;
    color:rgb(238, 87, 87);
    border:2px solid rgb(238, 87, 87)
}

@media (min-width: 0px) and (max-width: 767px) { 
    .cart{
        width:250px;
        right:4vw;
        top:10.7vh;
    }

} 
  